<%= form_for(@check_image) do |f| %>
  <% if @check_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_image.errors.count, "error") %> prohibited this check_image from being saved:</h2>

      <ul>
      <% @check_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= if @check_image.image?
          image_tag @check_image.preview_url,
                    data: { :'zoom-image' => @check_image.image_url }
        end %>
    <%= f.file_field :image %>
  </div>
  <div id="demo-container"></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
