<h2>Without checks</h2>



<%= form_for(@check_image) do |f| %>
  <% if @check_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_image.errors.count, "error") %> prohibited this check_image from being saved:</h2>

      <ul>
      <% @check_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= if @check_image.image?
          image_tag @check_image.image.preview.url,
                    data: { :'zoom-image' => @check_image.image.url }
        end %>
    <%= f.file_field :image %>
  </div>
<% end %>



<%= link_to " Upload an image",
            new_check_image_path,
            class: 'upload-image glyphicon glyphicon-upload btn btn-default' %>
<div class="row check_images_list">
  <% @check_images.without_checks.each do |check_image| %>
    <div class="col-md-2">
        <%= link_to ' ',
                    check_image,
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'remove_check_image glyphicon glyphicon-remove' %>
        <%= link_to image_tag(check_image.thumb_url || asset_url('image_not_found.jpg')),
                    edit_check_image_path(check_image),
                    class: 'image_thumb' %>
    </div>
  <% end %>
</div>
<%= link_to " Upload an image",
            new_check_image_path,
            class: 'upload-image glyphicon glyphicon-upload btn btn-default' %>

<h2>With checks</h2>
<div class="row check_images_list">
  <% @check_images.with_checks.each do |check_image| %>
    <div class="col-md-2">
        <%= link_to ' ',
                    check_image,
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'remove_check_image glyphicon glyphicon-remove' %>
        <%= link_to image_tag(check_image.image.thumb.url),
                    edit_check_image_path(check_image),
                    class: 'image_thumb' %>
    </div>
  <% end %>
</div>
