      <tr>
        <% if defined? f %>
          <td><%= f.check_box :check_ids, { multiple: true }, check.id %></td>
        <% end %>
        <td><%= l check.date %></td>
        <td><%= check.comment %></td>
        <td><%= check.amount %></td>
        <td><%= check.category_name %></td>
        <td><%= check.currency_name %></td>
        <td><%= check.account_name %></td>
      </tr>
