<%= form_for(check) do |f| %>
  <% if check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
      <% check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, :'data-provide' => 'datepicker',
                            value: f.object.datepicker_date,
                            :'data-date-autoclose' => true,
                            :'data-date-format' => f.object.datepicker_format %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, check.categories_options %>
  </div>
  <div class="field">
    <%= f.label :currency_id %><br>
    <%= f.select :currency_id, check.currencies_options %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.select :account_id, check.accounts_options %>
  </div>
  <%= f.hidden_field(:check_image_id, value: check.check_image_id) if check.check_image_id? %>
  <div class="actions">
    <%= f.submit %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
