<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Comment</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Currency</th>
      <th>Account</th>
    </tr>
  </thead>

  <tbody>
    <%= render @checks %>
  </tbody>
</table>
