<div class="col-md-6">
  <p>
    <strong>Date:</strong>
    <%= l @check.date %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= @check.comment %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= @check.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @check.category_name %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= @check.currency_name %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= @check.account_name %>
  </p>
</div>
<div class="col-md-6">
  <%= image_tag @check.mini_image_url, data: { :'zoom-image' => @check.image_url } %>
</div>
