// Place all the styles related to the CheckImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.check_images_list {
  .remove_check_image {
    left: 5px;
    top: 20px;
  }

  .image_thumb {
    display: block;
  }
}

.check_images {
  &.list {
    #new_check_image {
      display: none;
    }
  }
}
