<h1>Export</h1>

<%= form_for @export do |f| %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Comment</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Currency</th>
        <th>Account</th>
      </tr>
    </thead>

    <tbody>
      <%= render @export.checks, f: f %>
    </tbody>
  </table>

  <%= f.submit 'New Export' %>
<% end %>
