<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @export.index %>
</p>

<p>
  <strong>Create:</strong>
  <%= @export.create %>
</p>

<%= link_to 'Edit', edit_export_path(@export) %> |
<%= link_to 'Back', exports_path %>
